{% extends 'base.html' %}


{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-5">Экспресс аналитика по https://www.olx.ua</h1>
        <div class="row justify-content-around">
            <div class="col-8">
                <form action="{% url 'report' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group text-center">
                        <input required name="url" type="url" class="form-control" id="url" placeholder="Введите URL">
                    </div>
                    <div class="form-group">
                        <input required name="email" type="email" class="form-control" id="email" placeholder="Введите E-mail">
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-info">Получить отчет</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}